* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: "Poppins", sans-serif;
}

.circle {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 45px 190px 15px 95px;
	align-items: center;
}

.menu {
	display: flex;
}

.menuItems a {
	color: #333;
	font-weight: 500;
	font-size: 14px;
}

.menuItems {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuItems:hover a {
	color: #eb0029;
}

.menuItems:focus-within .circle {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	padding-top: 3px;
	background-color: #eb0029;
}

.menuItems:focus-within img {
	display: none;
}

.menuIconDiv {
	padding-right: 5px;
}

.cart a {
	padding-right: 20px;
}

.cart a:hover .cartIcon path {
	stroke: #eb0029;
}

.cart {
	display: flex;
	align-items: center;
}

.bagDiv {
	position: relative;
}

.notifications {
	position: absolute;
	top: -5px;
	right: 14px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #eb0029;
	color: #fff;
	text-align: center;
	line-height: 15px;
	font-size: 6px;
	font-family: sans-serif;
}

.login {
	display: flex;
	gap: 5px;
	background-color: #eb0029;
	border: 2px solid #eb0029;
	border-radius: 50px;
	padding: 13px 30px;
	transition: 0.3s;
}

.login a {
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.login:hover {
	background-color: #fff;
}

.login:hover a {
	color: #eb0029;
}

.login:hover svg path {
	stroke: #eb0029;
	fill: #eb0029;
}

/* first section */

.firstSection {
	display: flex;
	margin: 125px 118px 15px 95px;

}

h1 {
	font-family: 'Rubik', sans-serif;
	color: #010F1C;
	font-size: 67px;
	line-height: 85px;
	padding-bottom: 25px;
}

.h1Span {
	font-family: 'Lobster Two', cursive;
	color: #eb0029;
	font-size: 80px;
}

.hZone>p {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
}

.slogan {
	display: flex;
	background-color: #FEE9DE;
	gap: 5px;
	border-radius: 50px;
	padding: 11px 20px;
	width: fit-content;
	margin-bottom: 50px;
	font-weight: 500;
}

.videoDiv {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

.getStarted {
	padding: 22px 41px;
	background-color: #eb0029;
	border-radius: 50px;
	border: #eb0029 1px solid;
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	margin-right: 90px;
	transition: 0.3s;
}

.getStarted:hover {
	background-color: #fff;
	color: #eb0029;
}

.watchVideo {
	display: flex;
	align-items: center;
	position: relative;
	color: #333333;
	font-weight: 500;
	font-size: 18px;
}

.watchVideo img {
	position: absolute;
	left: -110px;
}

.watchVideo:hover {
	color: #eb0029
}

.happyCustomers {
	display: flex;
	align-items: center;
	margin-top: 117px;
}

.happyCust {
	border: #fff 1px solid;
	border-radius: 50%;
}

.happyCustomersImg {
	position: relative;
	margin-right: 110px;
}

.pic2 {
	position: absolute;
	right: -43px;
	z-index: 1;
}

.pic3 {
	position: absolute;
	right: -86px;
	z-index: 1;
}

.pic4 {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #eb0029;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	color: #fff;
	font-size: 15px;
	right: -122px;
	bottom: 10px;
	z-index: 1;
	font-weight: 600;
}

.custDesc p {
	font-weight: 600;
}

.reviewDiv {
	display: flex;
	align-items: center;
	gap: 8px;
}

.rating {
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #000000;
}

.reviewNumber {
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #828282;
}

.picZone {
	position: relative;
}

.icons {
	position: absolute;
}

.fire {
	right: 94px
}

.vector {
	right: 14px;
	top: 80px
}

.courier,
.courier2 {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: #fff;
	width: fit-content;
	justify-content: space-between;
	padding: 9px 15px;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 50px;

}

.courier {
	left: -63px;
	top: 505px;
}

.courier2 {
	left: 375px;
	bottom: 68px;
}

.courierPhoto {
	background-color: #fee9de;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	margin-right: 24px;
}

.phoneIcon {
	margin-left: 60px;
}

.courierName {
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	color: #000000;
}

.courierPosition {
	font-weight: 500;
	font-size: 12px;
	color: #828282;
}

.pizza {
	display: flex;
	align-items: center;
	background: #fff;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 20px 0 0 0;
	width: fit-content;
	position: absolute;
	right: 26px;
	bottom: 68px;
}

.pizzaImg {
	margin: 17px;
}

.foodName {
	font-weight: 600;
	font-size: 15px;
	color: #000000;
	margin-right: 30px;
}

.cost {
	font-size: 18px;
	font-weight: 700;
}

.cost span {
	font-size: 10px;
	color: #eb0029;
	padding-right: 3px;
}

/* section 2 */

h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.16em;
	color: #EB0029;
}

h2 {
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 45px;
	line-height: 60px;
	color: #010F1C;
	width: 37%;
}

.secondSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 102px;
}

.orderInfo {
	display: flex;
	justify-content: space-between;
	gap: 135px;
}

.orderInfo>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	width: 22%;
	text-align: center;
}

.secondSection h2 {
	margin: 20px 0 60px 0;
	text-align: center;
}

.orderInfo h6 {
	font-weight: 700;
	font-size: 28px;
	line-height: 70px;
}

.orderInfo p {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #333333;
}

/* third seciton */

.thirdSection {
	margin-left: 95px;
}

.thirdSection {
	margin-top: 121px;
}

.thirdSection h2 {
	padding: 20px 0 33px 0;
	width: 40%;
}

.header-arrows {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-right: 149px;
	margin-bottom: 35px;
}

.rightArrow {
	margin-left: 37px;
	margin-right: 75px;
}

.rightArrow:hover rect,
.leftArrow:hover rect {
	fill: #eb0029;
}

.rightArrow:hover path,
.leftArrow:hover path {
	fill: #fff;
}

.menuContainer {
	display: flex;
}

.menuDiv {
	display: flex;
	flex-direction: column;
	max-height: 550px;
	overflow: scroll;
	overflow-x: hidden;
}

.menuDiv a {
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;
	color: #000000;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 22px;
	justify-content: start;
	align-items: center;
	margin-right: 75px;
	padding: 19px 35px 19px 20px;
	margin-bottom: 28px;
}

.menuDiv a:focus-within {
	background-color: #eb0029;
	border-radius: 50px;
}

.menuDiv a:focus-within img {
	border: #eb0029 1px solid;
	background-color: #fff;
	border-radius: 50%;
}

.menuDiv a img {
	width: 41px;
	height: 41px;
	padding: 5px;
}

.meals {
	display: flex;
	gap: 35px;
	margin-left: 75px;
}

.mealName {
	font-weight: 500;
	font-size: 34px;
	line-height: 22px;
	display: flex;
	color: #FFFFFF;
}

.mealCost {
	font-size: 34px;
	font-weight: 700;
	line-height: 22px;
	color: #fff;
	padding: 30px 0 50px 0;
}

.mealCost span {
	font-size: 24px;
	font-weight: 700;
	color: #F2C94C;
}

.mealsDescr a {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	color: #FFFFFF;
}

.mealsDescr {
	position: absolute;
	bottom: 55px;
	left: 39px;
}

.meals>div {
	position: relative;
}


.mealsDescr a:hover {
	color: #eb0029;
}



/* forth section */

.forthSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	margin-top: 100px;
}

.forthSection h2 {
	width: 100%;
	margin: 12px 0 20px 0;
}

.opinionZone {
	margin-left: 117px;
}

.opinionZone>p {
	padding-bottom: 31px;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #333333;
}

.custOpDiv {
	display: flex;
	align-items: center;
}

.custOpDiv img {
	margin-right: 14px;
}

.customerName {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.customerPosition {
	color: #828282;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
}

.forthSecStarts svg {
	margin: 35px 9px;
}

.forthSecStarts {
	display: flex;
	align-items: center;
}

.forthSecStarts span {
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	margin-left: 9px;
}

.ourReviewers {
	background: #fff;
	box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	position: absolute;
	bottom: -42px;
	right: 13px;
}

.ourReviewers p {
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	padding: 33px 81px 16px 36px;
}

.reviewCustomersImg {
	position: relative;
	margin-left: 36px;
}

.chefZone {
	position: relative;
}

.leaves {
	top: 31px;
	right: 26px;
}

.popcorn {
	top: 247px;
	left: 27px;
}

.onions {
	top: 89px;
	left: 77px;
}

.pepers {
	right: 88px;
	bottom: 133px;
}

/* footer */

footer {
	display: flex;
	margin: 0 95px 90px 122px;
	justify-content: space-between;
}

.footerLogo {
	max-width: 300px;
	margin-right: 90px;
}

.footerLogo p {
	padding: 34px 0 46px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
}

.socialLinks {
	display: flex;
	gap: 50px;
	margin-left: 10px;
}

.socialLinks a:hover svg path {
	fill: #fff;
	stroke: #eb0029;
}

footer ul>li>a {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	padding-bottom: 12px;
	transition: 0.3s;
}

.getInTouch ul>li>a:not(.firstElement) {
	font-size: 18px;
}

footer ul>li>a:hover {
	color: #eb0029;
}

.firstElement {
	display: inline-block;
	font-family: 'Rubik';
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	padding-bottom: 25px;
}

.emailAddress {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	display: flex;
	flex-direction: row;
	gap: 25px;
	margin-top: 20px;
	border: 1px solid #bebebe;
	padding: 11px 20px;
	padding-right: 0;
	border-radius: 50px;
	transition: 0.3s;
}

.emailAddress:hover {
	background-color: #eb0029;
	color: #fff;
}

.emailAddress:hover svg path {
	fill: #fff;
	stroke: #fff;
}

/* fifthSection */

.fifthSection {
	margin: 142px 95px;
	background-color: #FFDDCC40;
	border-radius: 30px;
	padding: 121px 85px 132px 85px;
	position: relative;
}

.smile {
	top: 120px;
	left: 571px;
}

.smileTongue {
	top: 235px;
	right: 170px;
}

.zigzag1 {
	right: -20px;
	top: 187px;
}

.zigzag2 {
	right: -20px;
	top: 169px;
}

.fire2 {
	right: 647px;
	bottom: 186px;
}

.notifFrame {
	top: 214px;
	left: 579px;
}

.phone {
	right: 157px;
	bottom: 1px;
}

.fifthSection>p {
	max-width: 434px;
	padding-top: 33px;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #333333;
}

.fifthSection h3 {
	padding-bottom: 25px;
}

.fifthSection>a {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	padding: 22.5px 45px;
	border-radius: 50px;
	border: 1px solid #eb0029;
	background-color: #eb0029;
	margin-top: 33px;
	transition: 0.3s;
}

.fifthSection>a:hover {
	background-color: #fff;
	color: #eb0029;
}