* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: "Poppins", sans-serif;
}

.circle {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 45px 190px 15px 95px;
	align-items: center;
}

.menu {
	display: flex;
}

.menuItems a {
	color: #333;
	font-weight: 500;
	font-size: 14px;
}

.menuItems {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menuItems:hover a {
	color: #eb0029;
}

.menuItems:focus-within .circle {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	padding-top: 3px;
	background-color: #eb0029;
}

.menuItems:focus-within img {
	display: none;
}

.menuIconDiv {
	padding-right: 5px;
}

.cart a {
	padding-right: 20px;
}

.cart a:hover .cartIcon path {
	stroke: #eb0029;
}

.cart {
	display: flex;
	align-items: center;
}

.bagDiv {
	position: relative;
}

.notifications {
	position: absolute;
	top: -5px;
	right: 14px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #eb0029;
	color: #fff;
	text-align: center;
	line-height: 15px;
	font-size: 6px;
	font-family: sans-serif;
}

.login {
	display: flex;
	gap: 5px;
	background-color: #eb0029;
	border: 2px solid #eb0029;
	border-radius: 50px;
	padding: 13px 30px;
	transition: 0.3s;
}

.login a {
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.login:hover {
	background-color: #fff;
}

.login:hover a {
	color: #eb0029;
}

.login:hover svg path {
	stroke: #eb0029;
	fill: #eb0029;
}